* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

body {
    padding: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(36, 0, 32) 0%, rgb(121, 9, 117) 38%, rgb(45, 123, 231) 100%);
}

main {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    border: 1px solid #a1a1a1;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
}

h1 {
    margin-bottom: 1em;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(32, 50, 113);
    padding: 15px;
    border-radius: 8px;
    width: 60%;
    min-width: fit-content;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 1Wem;
    color: #333333;
    margin-top: 5px;
    font-weight: bold;
}

input {
    width: 20em;
    line-height: 2em;
    font-size: 1em;
    font-weight: bold;
    color: #333333;
    border: none;
    border-radius: 3px;
    border-bottom: 2px solid #333333;
    margin-bottom: 1em;
    padding: 0px 10px;
    background: transparent;
    outline: none;
}

input:focus-within {
    border-bottom: 2px solid #20952e;
}

button {
    width: 26em;
    padding: 10px;
    color: #FFF;
    border: none;
    background-color: #297f2f;   
}

button:hover {
    background-color: #3bba44;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.warning {
    margin-top: -10px;
    font-size: 0.8em;
    color: #e6281e;
}

#validacao {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;

    .validador {
        font-weight: bold;
        line-height: 3em;
    }

    ul > li {
        margin-left: 1em;
    }
}

